<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
	<configuration>
	
		<properties resource="jdbcForMysql.properties"/>
		<!-- 多表查询无法使用延迟加载：由sql决定为一次性查询 -->
		<!-- 延迟加载分两种：侵入式延迟加载——把子查询结果作主查询结果的一部分，执行主查询时不执行子查询，但一旦用到主
查询立刻执行子查询；深度延迟查询：不把子查询结果作主查询结果的一部分，只有用到子查询结果时才执行子查询 -->
		<settings>
			<!-- 延迟加载使能 -->
			<setting name="lazyLoadingEnabled" value="true"/>
			<!-- <setting name="aggressiveLazyLoading" value="true"/> -->
		</settings>
		
		<typeAliases>
			<package name="Invi.mybatis.bean"/>			
		</typeAliases>


		
		<environments default="development">
			<environment id="development">
				<transactionManager type="JDBC"/>
				<dataSource type="POOLED">
				<property name="driver" value="${driver}"/>
				<property name="url" value="${url}"/>
				<property name="username" value="${username}"/>
				<property name="password" value="${password}"/>
				</dataSource>
			</environment>
		</environments>
		
		<mappers>
			<mapper resource="Invi/mybatis/DAO/group2groupmapper.xml"/>
			<mapper resource="Invi/mybatis/DAO/self2selfmapper.xml"/>
			<mapper resource="Invi/mybatis/DAO/group2onemapper.xml"/>
			<mapper resource="Invi/mybatis/DAO/one2groupmapper.xml"/>
		</mappers>
		

	</configuration>